[submodule "submodules/intercept"]
	path = submodules/intercept
	url = https://github.com/intercept/intercept.git
[submodule "submodules/boost"]
	path = submodules/boost
	url = https://github.com/boostorg/boost
[submodule "submodules/tbb_arma"]
	path = submodules/tbb_arma
	url = https://github.com/BohemiaInteractive/TBB4
[submodule "submodules/mariadb-connector-c"]
	path = submodules/mariadb-connector-c
	url = https://github.com/mariadb-corporation/mariadb-connector-c
