[submodule "submodules/intercept"]
	path = submodules/intercept
	url = https://github.com/intercept/intercept.git
[submodule "submodules/boost"]
	path = submodules/boost
	url = https://github.com/boostorg/boost
[submodule "submodules/tbb_arma"]
	path = submodules/tbb_arma
	url = https://github.com/BohemiaInteractive/TBB4
